<!doctype html>
<html lang="<%= I18n.locale %>">
<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta name="viewport" content="width = device-width, initial-scale = 1.0, user-scalable = no">
  <link rel="icon" href="/assets/images/favicon.ico" type="image/ico" />
  <title><%= current_page.data.title || "Middleman" %></title>
  <%= stylesheet_link_tag :style %>
</head>
<body class="<%= page_classes %>">
  <%= yield %>
  <div class="cl">
  <a href="#" class="backtotop tertiary center">↑ Back to top</a>
  </div>
  <%= javascript_include_tag :all %>
</body>
</html>
